*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.container{ 
    
    height:  auto;
    width: 98vw;
    border: 1px solid black ; 
}
 .right-side{
    display: flex;
    flex-direction: row;
    
 }
 a{
    
    margin: 0 20px;
    text-decoration: none;
 }

 .nav
 { 
    display:  flex;
    justify-content:space-around;
   
    font-size: 20px;
    background-color: aqua;
    flex-wrap: wrap;

 }
 .t{ 
    margin: 10px 10px ;
    padding: 5px;
 }

 .image{ 
   height: 600px;
   width: 600px;
   background-size: contain;
 }

 .main{ 
   display: flex ;
   justify-content: row;
 }

 .image{
   height: 50vh;

   width:50vh  ;
 }

@media (max-width:500px) {
   .image{
      height: 20vh;
   
      width:20vh  ;
    }
}

.main1{
   display: flex;

}

.desc-container{
   width: 60%;
   margin: auto;
   background-color: aquamarine;
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
}

 